@model CompraVenda.ViewModels.FuncionarioIndexViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Funcionarios</h2>

@if (@Model.Funcionario.Count > 0)
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr><th>Id</th><th>Clientes</th><th>Cargo</th></tr>
        </thead>
        <tbody>
            @foreach (var funcionario in Model.Funcionario)
            {
                <tr>
                    <td>@funcionario.Id</td>
                    <td>@Html.ActionLink(@funcionario.Name, "Detalhes", new { funcionario.Id })</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Não tem funcionario ainda!</p>
}