@model IEnumerable<CompraVenda.Models.Venda>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Vendas</h2>

@if (@Model.Count() > 0)
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome Produto</th>
            </tr>
        </thead>s
        <tbody>
            @foreach (var venda in Model)
            {
                <tr>
                    <td>@venda.Id</td>
                    <td>@Html.ActionLink(@venda.Name, "Detalhes", new { venda.Id })</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Não tem produtos ainda!</p>
}

